<!DOCTYPE html>
<html>
	<head>
		<title>Email!</title>
	</head>
	<body>
		<form method="POST" action="contact-submit">
			<label>Write a message:</label><br>
			<input type="text" name="from_name" placeholder="Sender's name"><br>
			<input type="text" name="from_email" placeholder="Sender's email"><br>
			<input type="text" name="to_name" placeholder="Recipient's name"><br>
			<input type="text" name="to_email" placeholder="Recipient's email"><br>
			<input type="text" name="subject" placeholder="Subject"><br>
			<textarea name="message" cols="40" rows="10" placeholder="Type your message here"></textarea><br>
			<input type="submit" value="Send">
		</form>
	</body>
</html>